<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	<resultMap type="member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		
		<result property="memberEmail"      column="MEMBER_EMAIL"/>
		<result property="memberPw" 		column="MEMBER_PW"/>
		<result property="memberNickname" 	column="MEMBER_NICK"/>
		<result property="memberTel" 		column="MEMBER_TEL"/>
		<result property="memberAddress" 	column="MEMBER_ADDR"/>
		<result property="profileImage" 	column="PROFILE_IMG"/>
		<result property="enrollDate" 		column="ENROLL_DT"/>
		<result property="secessionFlag" 	column="SECESSION_FL"/>
	</resultMap>
	
	<select id="test1" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>

	<select id="test2" parameterType="string" resultType="string">
		SELECT MEMBER_NICK FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail} AND SECESSION_FL = 'N' 
	</select>
	
	<select id="test3" parameterType="member" resultType="string">
		SELECT MEMBER_TEL FROM MEMBER_S
		WHERE MEMBER_EMAIL = #{memberEmail} 
		AND MEMBER_PW = #{memberPw} AND SECESSION_FL = 'N'
	</select>

	<select id="login" parameterType="member" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICK , MEMBER_TEL,
    	MEMBER_ADDR, PROFILE_IMG, 
    	TO_CHAR( ENROLL_DT, 'YYYY-MM-DD HH24:MI:SS') AS ENROLL_DT, MEMBER_PW
		FROM MEMBER_S
		WHERE MEMBER_EMAIL = #{memberEmail}
		<!-- AND MEMBER_PW = #{memberPw} -->
		AND SECESSION_FL = 'N' 
	</select>
	
	<!-- 이메일 중복 검사 -->
	<select id="emailDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_S
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND SECESSION_FL = 'N'
	</select>
	
	<!-- 닉네임 중복 검사 -->
	<select id="nicknameDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_S
		WHERE MEMBER_NICK = #{memberNickname}
		AND SECESSION_FL = 'N'
	</select>
	
	<!-- 회원 가입 -->
	<insert id="signUp" parameterType="member">
		INSERT INTO MEMBER_S VALUES (SEQ_MEMBER_NO_S.NEXTVAL, #{memberEmail}, #{memberPw},
			#{memberNickname}, #{memberTel}, #{memberAddress},
			DEFAULT, DEFAULT, DEFAULT)	
	</insert>
	
</mapper>
