/* section, div, form{
    border : 1px solid black;
} */

/* a태그 공통 설정 */
.board a{
    text-decoration: none;
    color : black;  
}
.board a:hover{
    text-decoration: underline;
}

/* body */
body{
    margin: 0px;
}

/* main */
main{
    width: 100%;
}

/* 왼쪽 사이드 메뉴 */
.myPage-content{
    width: auto;
    height: auto;
    margin: 25px;
    margin-left: 0px;
    display: flex;
}
.left-side{
    position: sticky;
    top: 120px;
    width: 200px;
    
    /* border-right : 2px solid gray; */
    text-align: center;
    height: 300px;
}
.left-side > h3 {
    background-color: #343a40;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    color: white;
}
.list-group{
    width: 100%;
    padding: 0 5px 0 5;
           /*상 우  하 좌  */
}
.list-group  li{
    list-style: none;
    height: 50px;
    font-size: 18px;
    padding: 30px;
}
.list-group  li > a{
    text-decoration: none;
    color : black;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    /* border-bottom : 2px solid #ddd; */
}
.list-group  li:hover{
    background-color: #f2f2f2;
}
/* 사이드메뉴 끝  */

/* section */
.contain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 1850px;
    background-color: rgb(240, 244, 241);
    width: 100%;
    padding: 0 50px;
    /* border-left : 2px solid #ddd; */
    min-height: 670px;
    /* padding-top: 50px; */
}

/* span */
span{
    text-align: center;
}

/* board 위, 아래 */
.board1{
    margin-left: 35px;
    margin-right: 35px;
    height: 40%;
    /* width: 95%; */
    background-color: rgb(237, 235, 235);
    /* border : 1px solid black; */
}
.board2{
    margin-left: 35px;
    margin-right: 35px;
    height: 30%;
    /* width: 95%; */
    background-color: rgb(237, 235, 235);
    /* border : 1px solid black; */
}


/* board2 관련 영역 설정 */
.board-list{
    display: flex;
    width: 100%;
    /* margin-left: 30px; */
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: space-evenly;
    /* border : 1px solid green; */
}


/* board 위1 아래2 를 나누는 빈공간 */
.board-empty{
    height: 10%;
    /* border : 1px solid black; */
}


/* div headline 관련 */
.headline{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /* display: inline-block; */
    /* color: #000; */
    /* vertical-align: middle; */
    line-height: 45px;
}
.headline h1{
    font-size: 30px;
    margin: 0px;
}
.headline h2{
    margin-top: 15px;
}
.headline2{
    text-align: center;
    width: 450px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 800;
}


/* 여행지 추천 */
/* .recommend-img{
    width: 90%;
    height: 200px;
}
.recommend-title{
    margin: auto;
    width: 90%;
    height: 10%;
    border : 1px solid black;
}
.recommend-content{
    margin: auto;
    width: 90%;
    height: 90%;
    overflow: auto;
    border : 1px solid black;
} */


/* 페이스북 */
.board2-1{
    /* border: 1px solid black; */
    width: 550px;
    height: 450px;
}


/* 슬라이드박스(여행지 추천) */
.slide_div{
	padding: 20px 0 20px 0;
    background: #e6e9f6;
}
.multiple-items img{
    border-radius: 70%;
    object-fit: cover;
	max-width: 80%;
    height: 250px;
    display: block;
	margin: auto;
}
.slide-text{
    text-align: center;
    margin: auto;
    width: 90%;
    height: 10%;
    /* border : 1px solid black; */
}
.slide-content{
    width: 100%;
    height: 100px;
    overflow: auto;
    /* border : 1px solid black; */
}
.slide-btn{
    width: 25%;
    height: 30px;
    margin-left: 160px;
    justify-content: center;
    align-items: center;
}


/* 슬라이드박스(광고) */
.slide_div2{
    /* text-align: center; */
    /* flex-direction: row; */
    margin-left: 70px;
    width: 55%;
    height: 400px;
    /* border : 1px solid red; */
}
.multiple-items2 img{
    border-radius: 5%;
	width: 350px;
    height: 400px;
    /* margin-left: 40px; */
    display: block;
	margin: auto;
}
.slide-content2{
    /* border : 1px solid black; */
}




/* @keyframes : 
애니메이션 중간중간의 특정 지점들을 거칠 수 있는 키프레임들을 설정함으로써
CSS 애니메이션 과정의 중간 절차를 제어할 수 있게 합니다.  */
@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}


.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl,
.col-xxl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}