/* 게시글 작성 전체 영역 */
.board-write{
    width: 1500px;
    min-height: 700px;
    border:  1px solid #ccc;
    margin: 150px auto 50px auto;
    padding: 20px;
}

/* 게시글 제목 */
.board-title{
    width: 1320px;
    margin : 0 auto 0 auto;
    padding: 20px 0;
    border-bottom : 3px solid #ccc;
}

/* 게시글 제목 input */
.board-title > input{
    width: 100%;
    font-size: 24px;
    padding : 5px 0;
    border: 0;
    outline: 0;
}

/* 게시글 제목 input에 포커스가 맞춰 졌을 때 */
/* :focus-within  : 자식 input요소에 포커스가 맞춰 졌을 때 */
.board-title:focus-within{
    border-bottom-color : #ef7f4d;
}


/* 이미지 영역 */
.img-box{
    /* display: flex; */
    justify-content: space-between;
}


/* 이미지를 감싸는 div */
.boardImg{
    width: 230px;
    height: 230px;
    display: inline-block;
    text-align: center;
    position : relative;
}

/* 미리보기 영역 */
.boardImg > label{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    cursor: pointer;
}

/* file타입 input */
.inputImage{ display: none; }

/* 미리보기 이미지 */
.preview{
    max-width: 100%;
    max-height: 100%;
    /* 지정된 칸 내부에 비율을 변경하지 않고 이미지 배치 */
}

/* 이미지 미리보기 삭제 */
.delete-image{
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 20px;
    cursor: pointer; 
}


/* 썸네일만 영역 크기 증가 */
.thumbnail{
    width: 300px;   
    height: 300px;
}

/* 내용 */
.board-content{
    padding: 30px 0;
    /* margin: 30px 0; */
    /* border-top : 3px solid #ccc; */
    /* border-bottom : 3px solid #ccc; */
}

.board-content > textarea{
    width: 100%;
    height: 400px;
    resize: none;
    font-size: 18px;
}


/* 버튼 영역 */
.board-btn-area{
    text-align: right;
    margin: 0px 60px;
    border-top: 3px solid #ccc;
    padding-top: 20px;
    /* margin-right: 5px; */
}

/* 버튼 */
.board-btn-area button{
    width: 100px;
    height: 40px;

    font-weight: bold;
    border: 0;
    background-color: #ee7843;
    color : white;

    cursor: pointer;
    border-radius: 3px;
}

.board-btn-area button:hover{
    background-color: #ef7f4d;
    color : white;
    border: 2px solid #fff;
}

.board-btn-area button:nth-child(1) {
    margin-right: 10px;
}
.board-btn-area button:nth-child(2) {
    margin-right: 22px;
}


#att_zone {
    width: 660px;
    min-height: 200px;
    padding: 10px;
    border: 1px dotted #999;
}
  
#att_zone:empty:before {
content: attr(data-placeholder);
color: #999;
font-size: .9em;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl,
.col-xxl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}