* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 100px;
    display: flex;
}

header>section:nth-of-type(1) {
    flex-basis: 30%;
}

header>section:nth-of-type(2) {
    flex-basis: 40%;
}

header>section:nth-of-type(3) {
    flex-basis: 30%;
}

/* 로고 */
header>section:nth-of-type(1) {
    display: flex;
}

#home-logo {
    width: 150px;
    height: auto;
    /* 이미지는 width/height 둘 중 하나만 지정 시 
    나머지 방향의 크기가 같은 비율로 지정됨 */
}

header>section:nth-of-type(3) {
    display: flex;
    flex-direction: row-reverse;
}

header .menu {
    display: flex;
    list-style-type: none;
    
}

header .menu > li {
    width: 150px;
	height: 60px;
    text-align: center;
}

.submenu{
	display: none; /* 마지막에 적기 */
    list-style: none;
    padding-left: 0;
}
.submenu > li{
	width: 150px;
	height: 40px;
}
.submenu>li:hover>a{
	text-decoration: underline;
}


header .mainImg {
    width: 100%;
    height: auto;
}

header .conent1 {
    width: 100%;
}

main {
    width: 1140px;
    margin: auto;
}




/* footer */

footer {
    height: 200px;
}

/* footer 스타일 */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>p {
    font-weight: bold;
}

footer>article>* {
    font-size: 14px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer span {
    padding: 0 10px;
}