* {
    box-sizing: border-box;
}

body {
    height: auto;
    margin: 0;
   /*  background-image: url('../images/tentTest.jpg'); */
  /*   background-size: 100% 100%; */
}

header {
    height: 100px;
    display: flex;
}

header>section:nth-of-type(1) {
    flex-basis: 30%;
}

header>section:nth-of-type(2) {
    flex-basis: 40%;
}

header>section:nth-of-type(3) {
    flex-basis: 30%;
}

/* 로고 */
header>section:nth-of-type(1) {
    display: flex;
    justify-content: left;
    align-items: center;
}

.title {
    text-align: center;
}

#home-logo {
    width: 150px;
    height: auto;
    /* 이미지는 width/height 둘 중 하나만 지정 시 
    나머지 방향의 크기가 같은 비율로 지정됨 */
}

header>section:nth-of-type(3) {
    display: flex;
    flex-direction: row-reverse;
}

header .menu {
    display: flex;
    list-style-type: none;
    
}

header .menu > li {
    width: 150px;
	height: 60px;
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
}


.submenu{
	display: none; /* 마지막에 적기 */
    list-style: none;
    padding-left: 0;
}
.submenu > li{
	width: 150px;
	height: 40px;
    z-index: 2;
}
.submenu>li:hover>a{
	text-decoration: underline;
}


header .mainImg {
    width: 100%;
    height: auto;
}

header .content1 {
    width: 100%;
}

#campList{
    cursor: pointer;
}


main {
    width: 1500px;

    height: auto;

    margin: auto;
}




.cont_tb1 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    clear: both;
}

.cont_tb1 table {
    width: 100%;
    font-size: 14px;
}

.cont_tb1 tbody tr:nth-child(1) th {
    border-top: 2px solid black;
}

.cont_tb1 tbody tr:nth-child(1) td {
    border-top: 2px solid green;
}

.cont_tb1 table tr th {
    padding: 11px 10px;
    border-bottom: 1px solid #c8c8c8;
    text-align: left;
    color: #000;
    line-height: 25px;
}

.cont_tb1 table tr td {
    padding: 11px 10px;
    border-bottom: 1px solid #c8c8c8;
    line-height: 25px;
}





/* footer */

footer {
    height: 200px;
}

/* footer 스타일 */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>p {
    font-weight: bold;
}

footer>article>* {
    font-size: 14px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer span {
    padding: 0 10px;
}

.searchOption {
    display: none;
}







#divv{
    width: 100%;
    height: 800px;
    display: flex;
    position: relative;
}


.ranBoard>div:nth-of-type(1) {
    height: 65%;
}
.ranBoard>div:nth-of-type(2) {
    height: 35%;
}
.ranBoard_1{
    border: 1px solid green;
}
.ranBoard_1 > a > img {
    width: 100%;
    height: 100%;
}



/* slider */
.slider__wrap {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider__img {
    /* 이미지 보이는 영역 */
    position: relative;
    display: flex;
    width: 1400px;
    height: 700px;
    overflow: hidden;
}
.slider__inner {
    /* 이미지를 감싸고 있는 부모(움직이는 부분) */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 5600px;
    height: 700px;
}
.slider {
    /* 개별적인 이미지 */
    position: relative;
    display: flex;
    align-content: space-around;
    width: 1400px;
    height: 700px;
}
.slider > div {
    display: flex;
    flex-direction: column;
    left: 5px;
    top: 5px;
    padding: 5px 10px;
    width: 33%;
}

.slider:nth-child(1) {
    z-index: 5;
}
.slider:nth-child(2) {
    z-index: 4;

}
.slider:nth-child(3) {
    z-index: 3;

}



.slider__btn a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 50px;
    transition: all 0.2s;
    display: block;
    color: #fff;
}
.slider__btn a:hover {
    background: rgb(118, 153, 90);
}
.slider__btn a.prev {
    left: 0;
}
.slider__btn a.next {
    right: 0;
}
.slider__dot {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    
}
.slider__dot .dot {
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.4);
    display: inline-block;
    border-radius: 50%;
    /* text-indent: 들여쓰기 속성. 여기에선 blind 역할 */
    text-indent: -9999px;
    transition: all 0.3s;
    margin: 2px;
}
.slider__dot .dot.active {
    background: rgba(255,255,255,0.9);
}
