/* 마이페이지 영역 */
.myPage-content{
    width: 1140px;
    height: 800px;
    margin: 25px;

    display: flex;
}

/* 왼쪽 사이드 메뉴 */
.left-side{
    width: 25%;
    border-right : 2px solid #ddd;
    /* border-right : 2px solid gray; */
}

.list-group{
    width: 100%;
    padding: 0 20px 0 0;
           /*상 우  하 좌  */
}

.list-group > li{
    list-style: none;
    height: 50px;
    font-size: 18px;
}

.list-group > li > a{
    text-decoration: none;
    color : black;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    border-bottom : 2px solid #ddd;
}

.list-group > li:hover{
    background-color: #f2f2f2;
}

/* 마이페이지 공통 부분 */
.myPage-main{
    width: 75%;
    padding: 0 50px;
}

.myPage-title{
    margin : 0 0 10px 0;
    font-size: 30px;
}

.myPage-explanation{
    display: block;
    margin-bottom: 30px;   
    font-size: 14px;
    letter-spacing: -1px;
}