body{ margin : 0; 
    padding: 0;
    text-align: center;
    font-size: 20px;
}  
/* 
a{
    color: ;
} */

.formsize{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.subject{
    border: 2px solid rgb(3, 92, 18);
    margin-top: 10px;
    height: 50px;
 }

.calendar1{
    border: 2px solid rgb(3, 92, 18);
    margin-top: 50px;
    height: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.peopleNumber{
    border: 2px solid rgb(3, 92, 18);
    margin-top: 50px;
    height: 130px;
    
}


.popleNumberch{
    margin-top: 30px;  
}


.adultSelect{
    width: 50px;
    font-size: 20px;
    cursor: pointer;
}

.childrenSelect{
    width: 50px;
    font-size: 20px;
    cursor: pointer;
}

.priceInformation{
    border: 2px solid rgb(3, 92, 18);
    height: 200px;
    margin-top: 50px;
}

.payment{
    border: 2px solid rgb(3, 92, 18);
    margin-top: 50px;  
    font-size: 20px;
    cursor: pointer;
}


