<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="team.project.camp.board.model.vo.Board" alias="board"/>
		<typeAlias type="team.project.camp.board.model.vo.BoardDetail"  	alias="detail"/>
		<typeAlias type="team.project.camp.board.model.vo.BoardImage"  	alias="boardImage"/>
		<typeAlias type="team.project.camp.board.model.vo.BoardType"  	alias="boardType"/>
		<typeAlias type="team.project.camp.board.model.vo.Reply"  	alias="reply"/>
		<typeAlias type="team.project.camp.board.model.vo.PlaceRecommend"  	alias="placeRecommend"/>
		
		
		<typeAlias type="team.project.camp.detail.model.vo.Reservation" alias="reservation" />
		<typeAlias type="team.project.camp.detail.model.vo.Review" alias="review" />
		<typeAlias type="team.project.camp.member.model.vo.Member" alias="member" />
	</typeAliases>

	<mappers>
		<!-- <mapper resource="/mappers/reservation-mapper.xml"/> -->
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/reply-mapper.xml"/>
		<mapper resource="/mappers/campDetail-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/myPage-mapper.xml"/>
	</mappers>
	
</configuration>
